<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a new Blog Post:</h3>

        <form class="form new-post-form">
            <div class="form-group">
                <label for="post-title">Title:</label>
                <input class="form-input" type="text" id="post-title" name="post-title" />
            </div>
            <div class="form-group">
                <label for="post-content">Content:</label>
                <textarea class="form-input" id="post-content" name="post-content"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>

    {{#if blogposts.length}}
    <div class="col-md-6 post-list">
        <h3>My Posts:</h3>

        {{#each blogposts as |blogpost|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-info edit-btn" data-id="{{blogpost.id}}">Edit</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger delete-btn" data-id="{{blogpost.id}}">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
<script src="./js/profile.js"></script>
